/* Message board window */
.messages-output {
    height: 80vh;
    border: 1px solid gray;
    overflow-y: scroll;
    margin-bottom: 20px;
}


/* message container */
.message-inner {
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    min-width: 200px;
    max-width: 90%;
    text-align: left;
    min-height: 80px;
    font: 400 1em, sans-serif;
    display: inline-block;
    border-radius: 10px;
    background-color: #64be96;
}
/* change background color for incoming messages */
.incoming-message .message-inner {
    background-color: #fbc28f;
}
/* separate messages and incoming messages (move incoming to right side of container */
.incoming-message {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
/* timestamp  */
.message-timestamp-left {
    font-size: 0.85em;
    font-weight: 300;
    margin-top: 10px;
}
/* message sender */
.message-sender {
    margin-bottom: 5px;
    font-weight: bold;
}
/* date (not inlcuded in message) */
.message-date-indicator {
    width: 115px;
    margin: 0 auto;
}
/* private message banner */
.conversation-info {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    height: 100px;
}
/* private message profile pic */
.conversation-profile-pic {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin: 10px auto;
    margin-bottom: 10px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 0px;
}